body {
    background-image: url("background.png"); 
    font-family: Arial;
}

#wrapper {
    max-width: 1100px;
    margin: 0 auto;
    background-color: black;
    padding: 25px;
}

header {
    margin-top: 0;
}

header h1 {
    text-transform: uppercase;
    text-align:center;
    color: #ffffff;
}

header p {
    text-align: left;
    
}

p {
    color: black;
    margin-top: 80px;
    margin-left: 190px;
}

li {
    margin: 10px 0;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

h3 {
    color: white;
    text-align: center;
}

ul {
    text-align:justify;
}

.main_menu {
    padding: 5px 0 5px 0;
    text-align: center;
    line-height: 32px;
}

ul.main_menu {
    margin-top: 15px;
}

.main_menu li {
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 20px;
}
.main_menu a {
    text-decoration: none;
    color: #ffffff;
    padding: 8px;
    font-variant: small-caps;
}

.main_menu a:hover {
    color: #232e3c;

}